root {
    --lilac: #CCB6FE;
    color: var(--lilac);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #FFEDD5;
    /* background: linear-gradient(180deg, #c8b2f8 0%, #f7b2d2 50%, #c8b2f8 100%,); */
}

.container {
    background-color: #CCB6FE;
    width: 1440px;
    height: fit-content;
    margin: 0 auto;
    box-shadow: 0 0 30px #00000025;
    padding-top: 150px;
}

nav {
    width: 1440px;
    height: 100px;
    background: #c8b2f8;
    background: linear-gradient(180deg, #c8b2f8 0%, #f7b2d2 100%);
    border-radius: 0 0 35px 35px;
    box-shadow: 0 5px 15px #00000010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('./images/logos/proto\ logo\ icon\ noir\ full\ copie.png');
    background-size: contain;
    border-radius: 100%;
}

.liensnav {
    display: flex;
    align-items: center;
}

.liensnav p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 1px 0 #00000095;
    text-decoration: none;
    font-family: "New Romantics";
}

.liensnav a {
    color: white;
    font-size: 33px;
    text-shadow: 2px 1px 0 #00000095;
    text-decoration: none;
    font-family: "New Romantics";
    letter-spacing: 5px;
    padding: 0px 10px;
    transition: 1s;
}

.liensnav a:hover {
    letter-spacing: 8px;
    color: #E0F9FE;
    transition: 1s;
}

.usermenu {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
}

.bann {
    width: 100%;
    height: 575px;
    background-color: wheat;
}

.productsfond {
    width: 100%;
    background-image: url('./images/fond_etoiles_lunes.png');
    background-repeat: repeat-x;
    padding-top: 30px;
}

.products {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: white;
    font-size: 45px;
    text-shadow: 2px 1px 0 #00000095;
    font-family: "New Romantics";
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 20px;
}

.productsarea {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.productsgrid {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: 420px 420px;
    row-gap: 50px;
}

.productsbloc {
    width: 340px;
    height: 420px;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff80 0%, #c7e5e380 100%);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    border: solid 1px #FFFFFF95;
    transition: all 4s;
}

.productsbloc:hover {
    background: linear-gradient(180deg, #ffffff80 0%, #F2C4CD80 100%);
    transition: all 4s;

}

.productsimg {
    width: 300px;
    height: 300px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000025;
}

#pins {
    background-image: url('./images/pins/feminazgul\ \(1\).png');
}

#stickers {
    background-image: url('./images/stickers/Lumii_20210127_134050781.jpg');
}

#punch {
    background-image: url('./images/punch_needle/lion.png');
}

.productsbloc a {
    color: white;
    font-size: 40px;
    text-shadow: 2px 1px 0 #00000095;
    font-family: "New Romantics";
    letter-spacing: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-image: url('./images/fondnuage.png');
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.productsbloc a:hover {
    letter-spacing: 8px;
    color: #FFEDD5;
    transition: 1s;
}

h5 {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "British Green";
    font-weight: 600;
    color: #101010;
    text-shadow: none;
}

/* .h5underline {
    width: 100%;
    height: 50px;
    background-image: url('./images/fondnuage.png');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
} */

.productsbloc p {
        font-weight: 600;
        font-size: large;
}

footer {
    background-color: #FEC8BC;
    margin-top: 50px;
}

.bannfooter {
    width: 100%;
    height: 360px;
    background-image: url('./images/logos/banner\ text\ logo.jpg');
    background-size: contain;
}

.footerarea {
    background-color: #FEC8BC;
    height: 315px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blocui {
    width: fit-content;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    color: white;
    font-size: 33px;
    text-shadow: 2px 1px 0 #00000095;
    font-family: "New Romantics";
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 20px;
}

.blocui a {
    color: black;
    text-decoration: none;
    font-family: "British Green";
    font-size: 24px;
    letter-spacing: 2px;
}

.blocui a:hover {
    font-weight: 600;
}

.blocnl {
    width: 550px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-family: "British Green";
    letter-spacing: 1px;
    font-size: 16px;
    color: #101010;
    text-shadow: none;
}

.blocnl form {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    font-family: "British Green";
    letter-spacing: 1px;
}

.blocnl form input {
    border-radius: 5px;
    border: 1px solid #C8B6FF;
    background-color: #E7C6FF;
    height: 25px;
    padding-left: 5px;
}

.blocnl form button {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #C8B6FF;
    background-color: #E7C6FF;
    /* height: 25px; */
    font-family: "British Green";
    font-size: 20px;
    padding-top: 5px;
}

.logoneon {
    width: 256px;
    height: 256px;
    background-image: url('./images/logos/logo\ st\ blanc.png');
    background-size: contain;
}

.productpage {
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff80 0%, #c7e5e380 100%);
    border-radius: 20px;
    border: solid 1px #FFFFFF95;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainpic {
    background-image: url('./images/pins/feminazgul\ \(1\).png');
    width: 500px;
    height: 500px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000050;
}

.minipics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.minipic {
    background-image: url('./images/pins/feminazgul\ \(1\).png');
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 10px;
    border: solid 3px #E0F9FE;
}

.desc {
    padding-left: 50px;
    text-align: justify;
}

.desc span {
    font-weight: 600;
}

.desc select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFEDD5;
    height: 25px;
    margin-top: 20px;
    font-family: "British Green";
    font-size: 1.1em;
    letter-spacing: 2px;
}

.desc option {
    color: black;
}

.desc input {
    width: auto;
    height: auto;
    padding: 10px 15px 15px 15px;
    margin-top: 15px;
    font-size: 2em;
    letter-spacing: 3px;
    font-family: "New Romantics";
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    background-color: #FFEDD5;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 50px;
}

.mascotte {
    background-image: url('./images/logos/mascotte\ \(1\).png');
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-size: contain;
}

.presa {
    width: 50%;
    height: fit-content;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff80 0%, #c7e5e380 100%);
    border-radius: 20px;
    border: solid 1px #FFFFFF95;
    padding: 25px;
}

h2 {
    color: white;
    font-size: 33px;
    text-shadow: 2px 1px 0 #00000095;
    font-family: "New Romantics";
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.presa p {
    font-size: 1.5em;
    text-align: justify;
    color: black;
}

.contact {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff80 0%, #c7e5e380 100%);
    border-radius: 20px;
    border: solid 1px #FFFFFF95;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "British Green";
    letter-spacing: 1px;
    gap: 5px;
}

.contact label {
    font-weight: 600;
    margin-top: 20px;
}

.contact form input {
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFEDD5;
    height: 25px;
    padding-left: 5px;
}

.contact form textarea {
    width: 500px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    background-color: #FFEDD5;
    font-family: "British Green";
    font-size: 20px;
    padding: 15px;
    font-size: 1em;
}

#send {
    font-family: "New Romantics";
    font-size: 2em;
    height: auto;
    padding: 5px 0px;
    width: 100px;
    letter-spacing: 3px;
    border-radius: 100px;
    margin-top: 10px;
    background-color: #FFEDD5;
}